.grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 120px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.12);
  box-shadow: 0 0 30px white;
}
